.navbar {
    width: 100%;
}

.navbar-toggler-icon {
    background: blue;
}

.navbar-dark .navbar-toggler {
    color: yellow;
    border-color: blue;
}

.navbar-dark .navbar-toggler:hover {
    color: greenyellow;
    border-color: cyan;
}

#carousel img {
    height: 600px;
    width: 100%;
    margin-top: 0px;
}

#carousel carousel-control {
    color: black;
}

.carousel-caption {
    height: 100%;
}

.bg-dark {
    height: 100px;
}